table {
    margin-left: auto;
    margin-right: auto;
}
.large-input{
    font-size: 0.8em;
}

button.untracked,
button.tracked{
    height: 2em;
    width: 2em;
    padding: 0;
}

.tracked {
    background-color:darkturquoise;
}

button:disabled{
    height: 2em;
    width: 2em;
    padding: 0;
}
