button.untracked,
button.tracked {
    height: 2em;
    width: 2em;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
}
td {
    text-align: center;
}
.tracked {
    background-color: aquamarine;
}